.imageContainer {
    display: flex;
    flex-direction: row;
    width: 1050px;
    height: 1280px;
    gap: 25px;
    justify-content: center;
}

.headerGallery {
    display: flex;
    width: 1065px;
    flex-direction: row;
    flex-shrink: 0;
    justify-content: space-between;
}

.headerText {
    display: flex;
    flex-direction: column;
    justify-content: left;
    width: 1065px;
    flex-direction: column;
    flex-shrink: 0;
}

.headerTextB {
    color: #FFF;
    font-family: Outfit;
    font-size: 80px;
    font-style: normal;
    font-weight: 800;
    line-height: 110%;
}

.headerTextS {
    color: #13B7A5;
    font-family: Outfit;
    font-size: 40px;
    font-style: normal;
    font-weight: 345;
    line-height: 110%;
}

.midSection {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    gap: 50px;
    align-items: center;
    background-image: url(./images/BG\ Image.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 30px;
    background-color: #010922;
}

.arrowImage {
    width: 90.221px;
    height: 59.081px;
    flex-shrink: 0;
    background-image: url(./images/downArrow.png);
}

.footerText {
    display: flex;
    width: 1065px;
    flex-direction: column;
    flex-shrink: 0;

}

.footerTextB {
    color: #13B7A5;
    font-family: Outfit;
    font-size: 50px;
    font-style: normal;
    font-weight: 345;
    line-height: 110%;
}

.footerTextS {
    color: #fff;
    font-family: Outfit;
    font-size: 60px;
    font-style: normal;
    font-weight: 700;
    line-height: 110%;
}