.LandingPage-Buttons {
    /* background-color: #010922; */
    background: rgba(0, 0, 0, 0.29);
    backdrop-filter: blur(25px);
    opacity: 0.8799999952316284;
    color: white;
    border: 0px;
    padding: 1em 2vw 1em;/*just replace em in place of vw*/
    font-size: 1vw; /*Changed to vw just for now*/
    transition: all 0.30s;
    border-radius: 25px;
    min-width: 9vw;
    white-space: nowrap;
}
.LandingPage-Buttons::before {
  border: none;
  border-radius: 25px; /* Half of the button's height */
  box-shadow: 0 0 10em 40px #13B7A5;
}
.LandingPage-Buttons:hover{
 transform: translateY(-4px);
  box-shadow: 0px 24px 15px 0px rgba(0, 0, 0, 0.25);
}

.LandingPage-Buttons:active,
.LandingPage-Buttons:focus {
  /* background-color: #5B8FB9;
  box-shadow: 0 0 10em 10px #13B7A5; */
border-radius: 50.742px;
background: #0C6A69;
box-shadow: 0 0 10em 40px #13B7A5;
backdrop-filter: blur(10px);
}