.LandingPage-Buttons {
    background-color: #010922;
    color: white;
    border: 1px solid #5B8FB9;
    padding: 1em 2vw 1em;/*just replace em in place of vw*/
    font-size: 1vw; /*Changed to vw just for now*/
    transition: all 0.30s;
    border-radius: 25px;
    min-width: 9vw;
    white-space: nowrap;
}
