@import url('https://fonts.googleapis.com/css2?family=Bungee+Shade&family=Jost:wght@500&family=McLaren&family=Outfit:wght@400;500;600;700&family=Poppins:wght@200;300;400;600&family=Roboto&family=Rye&family=Vast+Shadow&display=swap');
*{
    margin: 0px;
}
.Button{
    position:relative;
    right:73px;
    background-color: #366B96;
    border-radius: 70px;
    color:white;
    border: 0px;
    padding: 6px 12px;
    width:auto;
}
.header{
    margin: 15px;
    color: white;
    font-weight: bold;
    font-family: 'Outfit', sans-serif;
    font-size: 20px;
    font-weight: 700;
}
.box{
    color: whitesmoke;
    border-radius: 70px ;
    border: 1px solid #5B8FB9;
    width: 15vw;
    height: 2vh;
    padding: 14px;
    gap: 10px;
    background: rgba(91, 143, 185, 0.20);
}
.links{
    display: flex;
    flex-direction: column;
    margin: 15px;
    gap:13px;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: 400;
}
.each_link{
    text-decoration: none;
    color: whitesmoke;
}
.logo{
    position: relative;
    width: 100px;
    left:5vw;
    top: 4.5vh;
}
/* .logo_base{
    position: relative;
    top:20px;
    left:50px;
    width:100px;
    height: 5px;
    border-radius: 15px;
    background: linear-gradient(45deg, #f15523, #ef3224, #7c3697);
} */
.footer{
    display: flex;
    justify-content: space-between;
    background-color:#010922 ;
    padding: 0px 20px;
}
.each_link:hover{
    color: rgb(19, 217, 194);
}