@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300&family=Roboto+Slab&display=swap');

body {
  /* header Body*/
  background-color: #010922;
}

.HeaderContainer {
  /* Container coantaining all componets og header--*/
  display: flex;
  flex-direction: column;
  gap: 13vh;
  justify-content: space-evenly;
  align-items: left;
  padding-top: 10vh;
}

/* Logo Section*/
.HeaderLogoContainer {
  display: flex;
  justify-content: left;
  gap: 2em;
  height: 105px;
  flex-direction: row;
}

.HeaderLogos {
  height: 90px;

}

/* CheSTA Title Section*/

.ChestaTitle {
  display: inline;
  font-size: 70px;
  font-family: 'Outfit', sans-serif;
  color: #fdfffc;
  font-weight: 800;
}

.ChestaTitle_s {
  display: inline;
  font-size: 70px;
  font-family: 'Outfit', sans-serif;
  color: #13B7A5;
  font-weight: 800;
}

/* Buttons Section*/

.Buttonsgroup {
  display: flex;
  position: relative;
  left: -4vw;
  gap: 6vw;
}

.chestaLogo {
  height: 140px;
  position: relative;
  top: -30px;
}