@import url('https://fonts.googleapis.com/css2?family=Bungee+Shade&family=Jost:wght@500&family=McLaren&family=Outfit:wght@400;500;600;700&family=Poppins:wght@200;300;400;600&family=Roboto&family=Rye&family=Vast+Shadow&display=swap');
/* *{
    background-color: #010922; 
} */
.profile{margin: 20px;
    position: relative;
    left:75px;
    height: 246px;
    width: 385px;
}
.profile_picture{
    width:130px;
    border-radius: 100%;
}

.details{
    background-color: #071b2d;
    color: aliceblue;
    width:385px;
    height: 246px;
    border-radius: 25px;
    /* border:3px solid red; */
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-shadow: 10px 10px 18px black;
    position: relative;
    top:-130px;
}
.img{
    /* border: 1px solid red; */
    z-index: 1;
    position: relative;
    top:65px;

    left:-65px;
    width: 130px;
    height: 130px;
    border-radius: 100px;
    box-shadow: 10px 10px 20px rgb(15, 15, 15);
    
}
.name{
    background-color: #071b2d;
    font-family: 'Roboto', sans-serif;
    font-size: 25px;
    font-weight:lighter;
    position: relative;
    top:10px;
}
h2{
    background-color: #071b2d;
    font-family: 'Outfit', sans-serif;
    font-style: italic;
    font-weight: lighter;
    position: relative;
    font-size: large;
    padding: 2px;
    bottom: 10px;
   
}
.contact{
    background-color:#071b2d;

}
.email,.phone_number{  
    background-color:#071b2d;
    font-family: 'Roboto', sans-serif;
    font-weight: lighter;
    border:0px;
    padding: 0px;
    margin: 2px;
    position: relative;
    bottom: 25px;
}